<footer>
    <div class="links">
        <div class="info">
            <div class="logo">
                <img src="../../assets/images/logo.png" alt="">
            </div>
            <div class="phone">098767654123</div>
            <div class="email">someemail@somewhere.com</div>
        </div>
        <div class="about-us">
            <ul>
                <li>درباره ما</li>
                <li>تماس با ما</li>
                <li>سوالات متداول</li>
                <li>ظوابط و قوانین</li>
            </ul>
        </div>
        <div class="activity">
            <ul>
                <li> تبلیغات مشاورین املاک</li>
                <li>تبدیل رهن و اجاره</li>
                <li>بلاگ</li>
                <li>ثبت آگهی</li>
            </ul>
        </div>
        <div class="social">
            <span>ما را در شبکه های اجتماعی دنبال کنید</span>
            <div class="icons">
                <ul>
                    <li>insta</li>
                    <li>twitter</li>
                    <li>linkdin</li>
                </ul>
            </div>
            <div class="app">
                <img src="../../assets/images/logo.png" alt="">
            </div>
        </div>
    </div>
    <div class="description">
      <div class="row">
          <div class="col-12 col-md-9">
            <h6>شابش ، با کیفیت ترین وب سایت آگهی املاک کشور</h6>
            <p>شابش وب سایت و اپلیکیشن تخصصی درج آگهی های املاک است که در آن مشاورین املاک آگهی های خرید و فروش ، رهن و
                اجاره انواع املاک مانند آپارتمان مسکونی ، اداری ، تجاری ، ویلا و غیره را منتشر کرده و توسط هزاران نفر در
                سراسر کشور دیده میشوند. شابش به سرعت در حال تبدیل شدن به یک مرجع اینترنتی برای عموم در ایران است، سایتی که
                هر فردی ، چه یک دانشجو که قصد اجاره یک اتاق را دارد وچه یک سرمایه گذار در حوزه املاک ، به آسانی از آن
                استفاده کند و از آن بهره مند شود.</p>
            <a href="">خرید آپارتمان در تهران </a>
            <a href="#">رهن و اجاره آپارتمان در تهران</a>
          </div>
          <div class="col-12 col-md-3">
              <ul>
                  <li>some icons</li>
                  <li>some icons</li>
                  <li>some icons</li>
              </ul>
          </div>
      </div>
    </div>
    <div class="copyright">
        این یک سایت بی منظور جهت تمرین برنامه نویسی است که از سایت <a href="https://shabesh.com/" target="_blank">شابش</a> الهام گرفته است
    </div>
</footer>