// COLORS
// RAW
$clr-light-gray:#e5e5e5;
$clr-dark-gray:#494d52;
$clr-cyan: #17bbc1;
$clr-light-cyan: #17bbc133;

$clr-blue:#0592e9;

// END RAW

// -----------------------------------------------------------------------
// DOM
$clr-nav-link:$clr-dark-gray;
$clr-body:#f8f9fa;
// END DOM

// -----------------------------------------------------------------------