/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import '../styles/fonts';
@import '../styles/var';

// LAYOUT ELEMENTS--------------------------
* {
    box-sizing: border-box;
}
html{
    
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

html::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

body {
    font-family: IRANSansWebNum, sans-serif;
    direction: rtl;
    padding: 0% !important;
    background-color:$clr-body;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: auto;
}

// END LAYOUT ELEMENTS --------------------------

// COLORS--------------------------
.text-gray {
    color: $clr-nav-link !important;
}

.bg-gray {
    background-color: $clr-dark-gray !important;
}

.bg-cyan {
    background-color: $clr-cyan;
}

.bg-light-cyan {
    background-color: $clr-light-cyan;
}

.border-oval {
    border-radius: 10px;
}

.cursor-pointer {
    cursor: pointer;
}

.hide {
    display: none !important;
}


// END COLORS--------------------------

// FONTS--------------------------
.font-small {
    font-size: .8rem !important;
}

.font-smaller {
    font-size: .6rem !important;
}

// END FONTS--------------------------