@import '../../styles/var';

nav.navbar {
  .nav-links {
    flex: 1;
  }
}

.logo {
  width: 100px;
}

.nav-link {
  padding-left : .5rem;
  padding-right: .5rem;
}

.icon {
  font-size: 2.5rem;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family   : 'icomoon' !important;
  speak         : never;
  font-style    : normal;
  font-weight   : normal;
  font-variant  : normal;
  text-transform: none;
  line-height   : 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-person_icon:before {
  content: "\e901";
}

.icon-heart_icon:before {
  content: "\e900";
}

.heart-icon {
  position: relative;
}

.heart-icon-number {
  position: absolute;
  bottom: 7px;
  right: 0%;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e07272;
  font-size: .725rem;
  color: white;
  padding: 2px 2px 1px 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width:840px) and(min-width:768px) {
  .nav-link {
    font-size: .8rem;
  }
}