<header class="container-xl bg-white">
    <nav class="navbar navbar-expand-md navbar-light mx-2">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="logo mx-2">
                <img src="../../assets/images/logo.png" alt="">
            </div>
            <div class="nav-links d-flex flex-nowrap navbar-nav">
                <a class="nav-link text-gray" href="">خرید</a>
                <a class="nav-link text-gray" href="">رهن و اجاره</a>
                <a class="nav-link text-gray" href="">مشاورین املاک</a>
                <a class="nav-link text-gray" href="">پروژه لند</a>
                <a class="nav-link text-gray" href="">قیمت خانه</a>
                <a class="nav-link text-gray" href="">بلاگ</a>
            </div>
            <div class="user-part d-flex flex-nowrap flex-1">
                <a href="#"
                    class="create-ad font-small bg-warning text-dark px-1 border rounded text-gray m-1 d-flex align-items-center">ثبت
                    آگهی </a>
                <div class="profile-icon m-1 d-flex align-items-center">
                    <span class="font-small">ورود</span>
                    <span class="icon icon-person_icon "></span>
                </div>
                <div class="heart-icon d-flex align-items-center">
                    <span class="icon icon-heart_icon"></span>
                </div>
            </div>
        </div>
    </nav>
</header>