<section class="main">
    <img class="main-cover-img w-100 h-100" alt="main" src="../../assets/images/home-main-small.jpg" srcset="
../../assets/images/home-main-small.jpg 300w,
../../assets/images/home-main-medium.jpg 500w,
../../assets/images/home-main-large.jpg 700w,
../../assets/images/home-main-xxlg.jpg 900w,
">
        <div class="section-search-box container-xl py-3">
            <div class="main-btns m-3 d-flex justify-content-center align-items-center">
                <a class="bg-white text-gray fw-bold py-2 px-4 mx-2 border rounded" href="#">خرید</a>
                <a class="bg-dark text-white fw-bold py-2 px-4  mx-2 border rounded" href="#">رهن</a>
                <a class="bg-dark text-white fw-bold py-2 px-4  mx-2 border rounded" href="#">اجاره</a>
            </div>
            <div class="search-panel">
                <div class="row">
                    <div class="col-9 bg-white"> 
                        <label class="font-small d-block me-2">استان، شهر یا محله</label>
                        <div class="region-tags d-flex flex-wrap ">
                            <button class="bg-white text-gray font-small border-oval border border-dark">
                                افزودن +</button>
                            <div class="tags d-flex justify-content-between" *ngFor="let tag of tags">
                                <span
                                    class="tag bg-light-cyan text-dark font-small cursor-pointer border-oval border border-dark px-2 m-1"
                                    (click)="removeTag(tag)">
                                    {{tag}} x</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-3"> <button class="bg-cyan text-white me-1 px-3 py-2 rounded border-0">جستجو</button>
                    </div>
                </div>
            </div>
        </div>
</section>