<section class="main">
    <img class="main-cover-img" alt="main" src="../../assets/images/home-main-small.jpg" srcset="
../../assets/images/home-main-small.jpg 300w,
../../assets/images/home-main-medium.jpg 500w,
../../assets/images/home-main-large.jpg 700w,
../../assets/images/home-main-xxlg.jpg 900w,
">
    <div class="container-xl py-5">
        <a class="bg-white text-gray fw-bold" href="#">خرید</a>
        <a href="#">رهن</a>
        <a href="#">اجاره</a>
        <div class="search-box">
            <div class="search-input">
                <div class="row">
                    <div class="search-section">
                        <div class="search-box-row">
                            <label>استان، شهر یا محله</label>
                            <button>افزودن +</button>
                        </div>
                        <button>جستجو</button>
                    </div>
                </div>
                <div class="row">
                    <div class="search-box-row">
                        <label>نوع ملک</label>
                        <div class="residence-panel">
                            <div class="panel-option">آپارتمان</div>
                            <div class="panel-option">ویلا و باغ</div>
                            <div class="panel-option">زمین و کلنگی</div>
                            <div class="panel-option">اداری</div>
                            <div class="panel-option">تجاری</div>
                            <div class="panel-option">مستغلات</div>

                            <div class="buttons">
                                <a href="#">پاک کردن</a>
                                <a href="#">بستن</a>
                            </div>
                        </div>
                    </div>
                    <div class="search-box-row">
                        <label>متراژ</label>
                        <div class="row">
                            <div class="col-6">
                                <span>حداقل</span>
                                <input type="text">
                                <div>
                                    <button>0</button>
                                    <button>60 متر</button>
                                    <button>70 متر</button>
                                    <button>80 متر</button>
                                    <button>90 متر</button>
                                    <button>100 متر</button>
                                    <button>110 متر</button>
                                    <button>120 متر</button>
                                    <button>130 متر</button>
                                    <button>140 متر</button>
                                    <button>150 متر</button> 
                                    <button>200 متر</button> 
                                    <button>300 متر</button> 
                                </div>
                            </div>
                            <div class="col-6">
                                <span>حداکثر</span>
                                <input type="text">
                                <div>
                                    <button>همه</button>
                                    <button>60 متر</button>
                                    <button>70 متر</button>
                                    <button>80 متر</button>
                                    <button>90 متر</button>
                                    <button>100 متر</button>
                                    <button>110 متر</button>
                                    <button>120 متر</button>
                                    <button>130 متر</button>
                                    <button>140 متر</button>
                                    <button>150 متر</button> 
                                    <button>200 متر</button> 
                                    <button>300 متر</button> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="search-box-row">
                        <label>قیمت</label>
                        <div class="row">
                            <div class="col-6">
                                <span>حداقل</span>
                                <input type="text">
                                <div>
                                    <button>0</button> 
                                    <button>200 میلیون تومان</button>
                                    <button>300 میلیون تومان</button>
                                    <button>400 میلیون تومان</button>
                                    <button>500 میلیون تومان</button>
                                    <button>600 میلیون تومان</button>
                                    <button>700 میلیون تومان</button>
                                    <button>800 میلیون تومان</button>
                                    <button>900 میلیون تومان</button>
                                </div>
                            </div> 
                            <div class="col-6">
                                <span>حداکثر</span>
                                <input type="text">
                                <div>
                                    <button>همه</button> 
                                    <button>200 میلیون تومان</button>
                                    <button>300 میلیون تومان</button>
                                    <button>400 میلیون تومان</button>
                                    <button>500 میلیون تومان</button>
                                    <button>600 میلیون تومان</button>
                                    <button>700 میلیون تومان</button>
                                    <button>800 میلیون تومان</button>
                                    <button>900 میلیون تومان</button>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>