@import '../../styles/var';

:host {
    display: block;

    section.main {
        position: relative;

        .main-cover-img {
            position  : absolute;
            top       : 0%;
            left      : 0%;
            right     : 0%;
            bottom    : 0%;
            z-index   : -1;
            object-fit: cover;
        }

        .section-search-box {
            position     : relative;
            z-index      : 1;
            padding-left : .75rem;
            padding-right: .75rem;

            .main-btns {
                button {
                    width           : 25%;
                    max-width       : 7rem;
                    text-align      : center;
                    font-weight     : 700;
                    line-height     : 2.6rem;
                    padding         : 0%;
                    border          : 1px solid white;
                    box-shadow      : 0.3rem 0.3rem 0.3rem rgb(34 34 34 / 20%);
                    color           : white;
                    background-color: $clr-dark-gray;
                    transition      : all .2s;
                }

            }

            .search-panel {
                background-color: rgba(30, 28, 28, 0.77);
                width           : 100%;
                border-radius   : 10px;

                .hide-more-options {
                    position  : relative;
                    z-index   : 2;
                    height    : 0;
                    opacity   : 0;
                    transition: all .3s ease;
                }

                .open-more-options {
                    position  : relative;
                    z-index   : 2;
                    height    : 110px;
                    opacity   : 1;
                    transition: all .3s ease;
                }


                .search-btn {
                    width : 100%;
                    height: 100%;
                }

                .add {
                    height    : fit-content;
                    font-size : 0.75rem !important;
                    align-self: center;
                }

                .search-item {
                    position: relative;

                    .grid-context {

                        display              : grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap                  : .5rem;
                    }

                    .item-header {
                        height: 50px;

                    }

                    .item-context {
                        position  : absolute;
                        top       : 57px;
                        padding   : 1rem;
                        box-shadow: 0px 0px 12px 1px #a19d9d;

                        .context-tag {
                            border          : 1px solid rgb(214, 209, 209);
                            background-color: white;
                            border-radius   : 2px;
                            padding         : .2rem 1rem;
                            font-size       : .75rem;
                        }

                        .context-tag:hover {
                            background-color: rgb(182, 187, 185);
                        }

                        label {
                            text-align: center;
                            cursor    : pointer;
                        }

                        input[type="checkbox"] {
                            display: none;
                        }

                        input:checked+label {
                            background-color: $clr-cyan;
                        }

                        .context-column {
                            display    : flex;
                            flex-flow  : column nowrap;
                            align-items: center;
                            max-height : 200px;
                            overflow-y : scroll;

                            &>* {
                                width           : calc(100% - .4rem);
                                margin          : .1rem .2rem 0;
                                background-color: white;
                                border-radius   : 4px;
                                padding         : .25rem;
                            }

                            h6 {
                                font-weight: bolder;
                                font-size  : .8rem;
                            }

                            &>*:not(h6) {
                                padding  : .4rem;
                                font-size: .7rem;
                                border   : 1px solid $clr-light-gray;
                            }

                            button {
                                &.active {
                                    background-color: $clr-blue;
                                    color           : white;
                                }
                            }
                        }

                    }

                }

                .more-options-panel {
                    position: relative;
                    z-index : 5;
                }
            }

        }
    }
}

@media (min-width: 768px) {
    :host {
        .item-1 {
            padding-left: 0;
        }

        .item-2 {
            padding-right: 0.5rem !important;
        }


        section.main .section-search-box .search-panel .open-more-options {
            height: 50px;
        }

    }
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background-color: rgba(105, 105, 105, 0.514);
}

::-webkit-scrollbar-thumb {
    background-color: rgb(105, 105, 105);
}