@import '../../styles/var';

:host {
    display: block;

    section.main {
        position: relative;

        .main-cover-img {
            position  : absolute;
            top       : 0%;
            left      : 0%;
            right     : 0%;
            bottom    : 0%;
            z-index   : -1;
            object-fit: cover;
        }

        .section-search-box {
            position     : relative;
            z-index      : 1;
            padding-left : .75rem;
            padding-right: .75rem;

            .main-btns {
                button {
                    width           : 25%;
                    max-width       : 7rem;
                    text-align      : center;
                    font-weight     : 700;
                    line-height     : 2.6rem;
                    padding         : 0%;
                    border          : 1px solid white;
                    box-shadow      : 0.3rem 0.3rem 0.3rem rgb(34 34 34 / 20%);
                    color           : white;
                    background-color: $clr-dark-gray;
                    transition      : all .2s;
                }

            }

            .search-panel {
                background-color: rgba(30, 28, 28, 0.77);
                width           : 100%;
                min-height      : 200px;
                border-radius   : 10px;

                .search-btn {
                    width    : 100%;
                    height   : 100%;
                }

                .add{
                    height: fit-content;
                    font-size: 0.75rem!important;
                    align-self:center;
                }
            }

        }
    }
}