<section class="main">
    <img class="main-cover-img w-100 h-100" alt="main" src="../../assets/images/home-main-small.jpg" srcset="
../../assets/images/home-main-small.jpg 300w,
../../assets/images/home-main-medium.jpg 500w,
../../assets/images/home-main-large.jpg 700w,
../../assets/images/home-main-xxlg.jpg 900w,
">
    <div class="section-search-box container-xl py-5 mx-auto ">
        <div class="row">
            <div class="col-lg-9 col-12 mx-auto">
                <div class="main-btns mt-3 text-center">
                    <button class=" fw-bold mx-2 rounded "
                        [ngClass]="{'text-dark':mainBtn==='buy','bg-white':mainBtn==='buy'}"
                        (click)="mainBtn='buy'">خرید</button>
                    <button class=" fw-bold mx-2 rounded" (click)="mainBtn='rahn'"
                        [ngClass]="{'text-dark':mainBtn==='rahn','bg-white':mainBtn==='rahn'}" href="#">رهن</button>
                    <button class=" fw-bold mx-2 rounded" (click)="mainBtn='rent'"
                        [ngClass]="{'text-dark':mainBtn==='rent','bg-white':mainBtn==='rent'}" href="#">اجاره</button>
                </div>
                <div class="search-panel mt-4 p-3">
                    <div class="row">
                        <div class="col-8 col-lg-10 ps-0">
                            <div class="bg-white px-2 py-1 rounded border">
                                <label class="font-small d-block me-2">استان، شهر یا محله</label>
                                <div class="region-tags d-flex flex-wrap ">
                                    <button class="add bg-white text-gray border-oval border border-dark">
                                        افزودن +</button>
                                    <div class="tags d-flex justify-content-between" *ngFor="let tag of tags">
                                        <span
                                            class="tag bg-light-cyan text-dark font-small cursor-pointer border-oval border border-dark px-2 m-1"
                                            (click)="removeTag(tag)">
                                            {{tag}} x</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-4 col-lg-2 pe-2 rounded"> <button
                                class="search-btn bg-cyan text-white rounded border-0">جستجو</button>
                        </div>
                        <div class="search-item col-12 col-md-4 mt-2"  (click)="searchContollClicked('melk')">
                            <div class="item-header bg-white rounded-bottom  cursor-pointer">نوع ملک</div>
                            <div class="item-context bg-white border rounded" [ngClass]="{'hide':openSearchControl!='melk'}">
                                <button class="context-tag">آپارتمان</button>
                                <button class="context-tag">ویلا و باغ</button>
                                <button class="context-tag">زمین و کلنگی</button>
                                <button class="context-tag">اداری</button>
                                <button class="context-tag">تجاری</button>
                                <button class="context-tag">مستغلات</button>
                            </div>
                        </div>
                        <div class="col-6 col-md-4 border">متراژ</div>
                        <div class="col-6 col-md-4 border">قیمت</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>